@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}

<h1>About KhumaloCraft</h1>
<img src="~/images/james khumalo.jpeg" alt="James Khumalo" style="width: 300px; height: auto;" />

<p>KhumaloCraft Emporium is a global e-commerce platform, founded in 2024 by visionary entrepreneur James Khumalo. KhumaloCraft sets out to link artisans by showcasing handcrafted products from artisans worldwide. </p>                                                                                                                                      
    </p>James Khumalo, the visionary entrepreneur behind KhumaloCraft, is driven by a passion for connecting artisans globally and showcasing their handcrafted treasures to a discerning audience. With a deep appreciation for craftsmanship and cultural heritage, James aims to create a platform that celebrates the artistry and creativity of artisans from diverse backgrounds. His vision extends beyond commerce; it's about fostering cultural exchange, preserving traditional craftsmanship, and empowering artisans to thrive in a global marketplace. </p> Through KhumaloCraft, James seeks to bridge the gap between artisans and consumers, offering a curated collection of unique, high-quality handcrafted products. With a commitment to authenticity, sustainability, and fair trade practices, KhumaloCraft embodies James's dedication to creating a platform that not only enriches the lives of artisans but also brings joy and inspiration to customers worldwide.
</p> 

</p> A percentage of all proceeds goes into empowering local and indigineous artisans </p> 
