@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to KhumaloCraft, the Home of Creativity and Passion</h1>
<img src="~/images/home image.jpeg" alt="home image" style="width: 300px; height: auto;" />
<p>- Explore our handcrafted products from artisans around the world.</p>
<p>- Grow your art business with our tailor-made services<p>
    <p>- Buy,sell and interact with like-minded enthusiasts from around the globe<p>
</div>
